.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, #f1f7f0 0%, #c3d1c1 100%) !important;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
}


/* Onde a sua página de fato renderiza */
.content {
    padding: 2rem;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;   
    text-align: center;  
    gap: 0.5rem;
}
